{%  extends "/shop/layout/layout.twig"  %}
{% set page_tag = 'shop_employee_employeeList' %}
{% set page_header_title = '员工管理' %}
{% block static %}
    {#    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid-bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.ace.css">
{% endblock %}
{% block main %}
    <div class="col-xs-12">
        <div class="table-bar">
            <label>关键字:</label>
            <input type="text" name="keywords" style="width:260px;" class="form-control" placeholder="按员工编号、真实姓名、手机号"/>
            <label></label>
            <button onclick="doSearch();" class="btn btn-info"><i class="icon icon-search"></i>搜索</button>
            <label></label>
            <button onclick="doExport();" class="btn btn-info"><i class="icon icon-file-excel"></i>导出</button>
            <a href="/shop/employee/employeeAdd" class="btn btn-small btn-warning">添加职工<i class="icon icon-plus-sign"></i></a>
        </div>
        <table id="list"><tr><td></td></tr></table> 
        <div id="pager"></div> 
    </div>
{% endblock %}
{% block script %}
    <script src="/static/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="/static/lib/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script>
                $(function () {
                    $("#list").jqGrid({
                        url: "/shop/employee/getEmployeeList",
                        datatype: "json",
                        mtype: "POST",
                        colNames: ["员工编号","职位","入职日期", "真实姓名", "email", "身份证", "性别", "手机", "离职状态", "操作"],
                        colModel: [
                            {name: "employee_no", editable: false,width:100,},
                            {name: "job", editable: true, frozen: true,width:80},
                            {name: "ctime", editable: true, frozen: true},
                            {name: "truename", editable: true, align: "center",width:100},
                            {name: "email", editable: true, align: "center"},
                            {name: "id_no", editable: true, editrules: {edithidden: true}},
                            {name: "gender",width:50, editable: true,editrules: {edithidden: true}, formatter: function (cellvalue, options, rowObject) {
                                    if (cellvalue === '1') {
                                        return '男';
                                    } else {
                                        return '女';
                                    }
                                }},
                            {name: "tel", editable: true, editrules: {edithidden: true}},
                            {name: "status", editable: true, editrules: {edithidden: true}, width:50,formatter: function (cellvalue, options, rowObject) {
                                    switch (cellvalue) {
                                        case '1':
                                            return '在职';
                                            break;
                                        case '0':
                                            return '离职';
                                            break;
                                    }
                                }},
                            {name: "actionBtn", viewable: false, sortable: false, formatter: actionFormatrer}
                        ],
                        pager: "#pager",
                        rowNum: 10,
                        rowList: [10, 20, 30],
                        sortname: "ctime",
                        sortorder: "desc",
                        viewrecords: true,
                        gridview: true,
                        autoencode: true,
                        caption: '职员管理',
                        autowidth: true,
                        shrinkToFit: false,
                        height: 'auto',
                        rownumbers: true,
                        jsonReader: {
                            root: "rows",
                            page: "page",
                            total: "total",
                            records: "records",
                            repeatitems: false,
                            id: "0"
                        },
                    }).navGrid('#pager', {edit: false, add: false, del: false, view: true,search:false}, searchFn, editFn, addFn, delFn, viewFn);
                });
                var searchFn = {
                };
                var editFn = {
                    jqModal: true,
                    reloadAfterSubmit: true,
                    closeOnEscape: true,
                    savekey: [true, 13],
                    closeAfterEdit: true,
                    url: '',
                    beforeShowForm: function (form) {
                        $('#tr_password', form).hide();
                    },
                    afterSubmit: function (response) {
                        var responseText = $.parseJSON(response.responseText);
                        var success = responseText.success;
                        var message = responseText.message;
                        return [success, message];
                    }
                };
                function edit() {

                }

                function addFn() {
                    console.log('add');
                }
                function delFn() {
                    console.log('add');
                }
                function viewFn() {
                    console.log('view');
                }

                function actionFormatrer(cellvalue, options, rowObject) {
                    var response = '';
                    response = '<button onClick="delRecord(' + rowObject.id + ');" data-id="' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini del-record"><i class="icon icon-trash"></i> 删除</button>';
                    response += '<a href="/shop/employee/employeeEdit?id=' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini"><i class="icon icon-pencil"></i> 修改</a>';
                    return response;
                }

                function delRecord(id) {
                    layer.confirm('确定要删除该条记录？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        $.ajax({
                            url: '/shop/employee/employeeDel',
                            type: 'post',
                            dataType: 'json',
                            data: {id: id},
                            success: function (res) {
                                layer.msg(res.msg, {icon: 1});
                                if (res.status) {
                                    $('#list').trigger('reloadGrid');
                                }
                            }
                        });
                    }, function () {
                        // layer.msg('奇葩么么哒', {shift: 6});
                    });
                }

                function doSearch() {
                    var keywords = $('input[name="keywords"]').val();
                    $("#list").jqGrid('setGridParam', {
                        postData: {keywords: keywords}
                    }).trigger("reloadGrid");
                }

                function doExport() {
                    var keywords = $('input[name="keywords"]').val();
                    $("body").append("<iframe src='/shop/employee/exportExcel?keywords="+keywords+"' style='display: none;' ></iframe>");
                }
    </script>
{% endblock %}