{% extends "layout/front.twig" %}
{% block title %}修改密码{% endblock %}
{% block header %}
    <div class="goback">
        <a href="javascript:history.go(-1)">
            <i class="sprits"></i>
        </a>
    </div>
    <div class="title">修改密码</div>
{% endblock %}
{% block main %}
	<form action="#" class="change-password" method='post'>
		
		<input type="password" placeholder="当前密码" name='oldPwd'>
		<input type="password" placeholder="新密码" name='newPwd'>
		<input type="password" placeholder="确认新密码" name='rePwd'>

		<input type="submit" name='submit' value="确认提交" class="able">

	</form>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(function(){
			$('input[name=submit]').click(function() {
				//获取之前的密码
				var oldPwd=$('input[name=oldPwd]').val();
				var newPwd=$('input[name=newPwd]').val();
				var rePwd=$('input[name=rePwd]').val();
				
				if(oldPwd==''){
					alert('当前密码不能为空');
					return false;
				}
				if(newPwd==''){
					alert('新密码不能为空');
					return false;
				}
				if(newPwd!=rePwd){
					alert('两次输入的密码不一致');
					return false;
				}
				
				//发送ajax请求
				//验证用户名
				$form = $(this).parents('form');
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    dataType: 'json',
                    success: function (msg) {
                        if (typeof msg === 'object') {
                            if (msg.status) {
                               //修改成功
                               alert(msg.msg);
                                window.location.href = msg.url;
                            } else {
                                alert(msg.msg);
                            }
                        }
                    }
                });
                return false;
				
			});
		
		});
	</script>
{% endblock %}