{% extends "layout/esui.twig" %}
{% block static %}
<script src="/static/dropzone/dropzone.js"></script>
<link rel="stylesheet" href="/static/dropzone/dropzone.css">
{% endblock %}
{% block main %}
<p>
  This is the most minimal example of Dropzone. The upload in this example
  doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->
<form action="/upload-target" class="dropzone"></form>
{% endblock %}

