{%  extends "/shop/layout/layout.twig"  %}
{% set page_bread_top = '工作中心' %}
{% set page_bread_sub = '服务项目管理' %}
{% set page_header_title = '服务项目管理' %}
{% set page_tag = 'shop_user_service' %}
{% block static %}
    {#    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid-bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.ace.css">
{% endblock %}
{% block main %}
    <div class="col-xs-12">
        <div class="table-bar">
            <label>关键字:</label>
            <input type="text" name="keywords" style="width:260px;" class="form-control" placeholder="按员工编号、真实姓名、手机号"/>
            <label></label>
            <button onclick="doSearch();" class="btn btn-info"><i class="icon icon-search"></i>搜索</button>
            <a href="/shop/user/serviceAdd" class="btn btn-small btn-warning">新增服务项<i class="icon icon-plus-sign"></i></a>
        </div>
        <table id="list"><tr><td></td></tr></table> 
        <div id="pager"></div> 
    </div>
{% endblock %}
{% block script %}
    <script src="/static/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="/static/lib/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script>
        $(function () {

            $("#list").jqGrid({
                url: "/shop/user/getData",
                datatype: "json",
                mtype: "POST",
                colNames: ["id", "服务项目", "价格", "服务时长","示意图","创建时间","修改时间","服务类型","状态","操作"],
                colModel: [
                    {name: "id", hidden: true, key: true, editable: true, width: 150, },
                    {name: "name", editable: true, editoptions: true, edittype: "select" },
                    {name: "price", width: 150, },
                    {name: "stime", width: 100, },
                    {name: "cover", width: 200,formatter: img},
                    {name: "ctime", width: 150, },
                    {name: "utime", width: 150, },
                    {name: "isVisit", editable: true, edittype: "select", editoptions: {value: "0:上门;1:到店"}, width: 150, },
                    {name: "status", width: 100, },
                    {name: "operator", formatter: operateFormatter, width: 215, }
                ],
                pager: "#pager",
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: "ctime",
                sortorder: "desc",
                viewrecords: true,
                gridview: true,
                autoencode: true,
                caption: false,
                autowidth: true,
                shrinkToFit: 30,
                height: 'auto',
                rownumbers: true,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
            }).navGrid('#pager', {add: false, edit: false, view: true, del: false}, searchFn, editFn);

            var searchFn = {
            };
            var editFn = {
                jqModal: true,
                closeAfterAdd: true,
                closeAfterEdit: true,
                reloadAfterSubmit: true,
                closeOnEscape: true,
                savekey: [true, 13],
                afterSubmit: function (response) {
                    var responseText = $.parseJSON(response.responseText);
                    var success = responseText.success;
                    var message = responseText.message;
                    return [success, message];
                }

            };
            function operateFormatter(cellvalue, options, rowObject) {
                 
                var editDelStr = '<button onClick="delRecord(' + rowObject.id + ');" data-id="' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini del-record"><i class="icon icon-trash"></i> 删除</button>';

                editDelStr += '<a href="/shop/user/serviceEdit?id=' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini"><i class="icon icon-pencil"></i> 修改</a>';

                editDelStr += '<button id="update' + rowObject.id + '" onClick="setCargo(' + rowObject.id + ');" data-id="' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini del-record"><i class="icon icon-cubes"></i> 绑定耗材</button>';
                return editDelStr;
            }

            function img(cellvalue, options, rowObject){
                var editDelStr = "<img src='" +cellvalue+"' />";
                //console.log(editDelStr);
                return editDelStr;
            }
        });

         function delRecord(id) {
            layer.confirm('确定要删除该条记录？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: '/shop/user/serviceDel',
                    type: 'post',
                    dataType: 'json',
                    data: {id: id},
                    success: function (res) {
                        layer.msg(res.msg, {icon: 1});
                        if (res.status) {
                            $('#list').trigger('reloadGrid');
                        }
                    }
                });
            }, function () {
                
            });
        }
        function setCargo(id) {
            //查看明细
            url = '/shop/cargo/setCargo?id=' + id;
            layer.open({
                type: 2,
                title: '查看详情',
                shadeClose: true,
                shade: 0.8,
                area: ['380px', '50%'],
                content: url//iframe的url
            });
        }

    </script>
{% endblock %}