{# 前端模板 #}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=750,  user-scalable=no">
        <meta name="format-detection" content="telphone=no, email=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="x5-page-mode" content="app">
        <title>{%block title %}苗苗儿推首页{%endblock%}</title>
        <link rel="stylesheet" href="/static/home/css/style.css">
        <link rel="stylesheet" href="/static/home/css/lemon.css">
        <script type="text/javascript" src="/static/home/js/zepto.js"></script>
        <script type="application/javascript" src="/static/home/js/fastclick.js"></script>
        <script type="text/javascript" src="/static/home/js/jssor.js"></script>
        <script type="text/javascript" src="/static/home/js/jssor.slider.js"></script>
        <script type="text/javascript" src="/static/home/js/index_banner.js"></script>
{#        <script type="text/javascript" src="/static/layer.m/layer.m.js"></script>#}
    {% block static %}{%endblock %}
</head>
<body>
    <div class="header">
    {% block header %}{% endblock%}
</div>
{%block main %}{% endblock%}
{% block footer %}
    <ul class="footer-menu">
        <li>
            <a href="/" {% if page_tag is not defined %} class="current" {% endif %}>
                <i class="sprits footer-menu1"></i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a {% if page_tag is defined %}{% if page_tag == 'order'%} class="current" {% endif %} {% endif %} href="/home/order/orderList.html">
                <i class="sprits footer-menu2"></i>
                <p>订单</p>
            </a>
        </li>
        <li>
            <a {% if page_tag is defined %}{% if page_tag == 'user'%} class="current" {% endif %} {% endif %}  href="/home/user/userCenter.html">
                <i class="sprits footer-menu3"></i>
                <p>我的</p>
            </a>
        </li>
        <li>
            <a {% if page_tag is defined %}{% if page_tag == 'more'%} class="current" {% endif %} {% endif %}  href="/home/user/moreSet.html">
                <i class="sprits footer-menu4"></i>
                <p>更多</p>
            </a>
        </li>
    </ul>
{% endblock %}
{%block script %}
    <script>
        jssor_slider1_starter('slider1_container');//banner scroll

        $(function () {
            FastClick.attach(document.body);
        })
    </script>
{% endblock %}
</body>
</html>