{%  extends "/shop/layout/layout.twig"  %}
{% set page_bread_top = '工作中心' %}
{% set page_bread_sub = '活动管理' %}
{% set page_header_title = '活动管理' %}
{% set page_tag = 'shop_promo_index' %}
{% block static %}
    {#    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid-bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.ace.css">
{% endblock %}
{% block main %}
    <div class="col-xs-12">
         <div class="table-bar">
            <label>活动名称:</label>
            <input type="text" name="keyword" style="width:260px;" class="form-control" placeholder="填写活动名称"/>
            <label></label>
            <button onclick="doSearch();" class="btn btn-info"><i class="icon icon-search"></i>搜索</button>
            <a href="/shop/promo/promoAdd" class="btn btn-small btn-warning">新增优惠活动<i class="icon icon-plus-sign"></i></a>
        </div>
        <table id="list"><tr><td></td></tr></table> 
        <div id="pager"></div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="/static/lib/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script>
        $(function () {
            $("#list").jqGrid({
                url: "/shop/promo/getPromoData",
                datatype: "json",
                mtype: "POST",
                colNames: ["id","优惠名称", "优惠服务", "原价", "优惠价", "开始时间", "结束时间", "服务类型","状态","操作"],
                colModel: [
                    {name: "id", index:'id',editable: true, align: "center",hidden:true,key:true},
                    {name: "title", editable: true, align: "center",editrules:{required:true}},
                    {name: "service", index:'service',editable: true, },
                    {name: "mprice",  align: "center"},
                    {name: "price",  editable: true, align: "center",},
                    {name: "begintime",  editable: true, width:200,},
                    {name: "endtime",viewable:false, editable: true,width:200,},
                    {name: "isVisit",fixed:true,index:'isVisit',viewable:false,width:100,},
                    {name: "status",fixed:true,index:'status',viewable:false,  editable: true,sortable: false,width:100,},
                    {name: "operator", formatter: operateFormatter },
                ],
                pager: "#pager",
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: "ctime",
                sortorder: "desc",
                viewrecords: true,
                gridview: true,
                autoencode: true,
                caption: '优惠列表',
                autowidth: true,
                height: 'auto',
                rownumbers: true,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                },
                editurl:"/shop/promo/edit",

            }).navGrid('#pager', {search:false,add: false,  edit:false,view: true,del: true,}, searchFn, editFn, addFn, delFn, viewFn);
        });
         var searchFn = {         
        };
        var editFn = {
        };
        var delFn={

        }
        function addFn(){
            closeAfterAdd:true;
        }
        function edit() {

        }
        function delFn() {
            console.log('add');
        }
        function viewFn() {
            console.log('view');
        }

        function operateFormatter(cellvalue, options, rowObject) {
                 
            var editDelStr = '<button onClick="delRecord(' + rowObject.id + ');" data-id="' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini del-record"><i class="icon icon-trash"></i> 删除</button>';

            editDelStr += '<a href="/shop/promo/promoEdit?id=' + rowObject.id + '" class="grid-btn btn btn-primary btn-mini"><i class="icon icon-pencil"></i> 修改</a>';

            return editDelStr;
        }

         function delRecord(id) {
            layer.confirm('确定要删除该条记录？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: '/shop/promo/promoDel',
                    type: 'post',
                    dataType: 'json',
                    data: {id: id},
                    success: function (res) {
                        layer.msg(res.msg, {icon: 1});
                        if (res.status) {
                            $('#list').trigger('reloadGrid');
                        }
                    }
                });
            }, function () {
                
            });
        }
         function doSearch() {
            var keyword = $('input[name="keyword"]').val();
            $("#list").jqGrid('setGridParam', {
                postData: {keyword: keyword}
            }).trigger("reloadGrid");
        }
    

    </script>
{% endblock %}